<launch>
    <arg name="on_hardware" default="false" />


    <!-- <arg name="threshold_value" value="127" /> -->
    <node name="Hardware_pcd" pkg="hole_detector" type="Hardware_pcd" output="screen">
        <!-- <param name="threshold_value" type="int" value="$(arg threshold_value)"/> -->
        <!-- <param name="threshold_value" type="int" value="127"/> -->
        <param name="threshold_value" type="int" value="127"/>
        <param name="fExposureTime" type="double" value="1500"/>
        
    </node> 


    <node name="mergepcd_gantry_track" pkg="hole_detector" type="mergepcd_gantry_track.py" output="screen">
        <param name="on_hardware" type="bool" value="$(arg on_hardware)"/>

        <!-- Box Pose/Size -->
        <param name="box_posx" type="double"   value="0.2"/>
        <param name="box_posy" type="double"   value="-0.22"/>
        <param name="box_posz" type="double"   value="0.88"/>
        <param name="box_sizex" type="double"   value="0.5"/>
        <param name="box_sizey" type="double"   value="0.5"/>
        <param name="box_sizez" type="double"   value="0.1"/>

        <!-- Remove Outlier From Raw Pointcloud -->
        <param name="stat_outlier_nb" type="int"            value="10"/>
        <param name="stat_outlier_std_ratio" type="double"  value="4.0"/>

        <!-- Plane Threshold Distance -->
        <param name="plane_thres" type="double"             value="0.005"/>

        <!-- Mesh Radius Fill -->
        <param name="mesh_radius" type="double"             value="0.004"/>
        <param name="mesh_hole_size" type="double"          value="0.01"/>

        <!-- Boundary Config -->
        <param name="boundary_radius" type="double"         value="0.015"/>
        <param name="boundary_max_nn" type="int"            value="30"/>
        <param name="boundary_angle" type="int"             value="70"/>

        <!-- Cluster Config -->
        <param name="clus_radius" type="double"             value="0.005"/>
        <param name="clus_min_points" type="int"            value="5"/>
        <param name="clus_point_up_limit" type="int"        value="150"/>
        <param name="clus_point_low_limit" type="int"       value="60"/>
        <param name="clus_size_limit" type="double"         value="0.05"/>

    </node> 

    <!-- <node name = "rqt_gui" pkg = "rqt_gui" type = "rqt_gui" respawn = "false" output = "screen" 
            args = "-perspective $(find hole_detector)/rqt_config/command_hole.perspective"/> -->



</launch>